@model FreteFree.Models.Motorista.OrdemCarregamento


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpresaId" class="control-label"></label>
                <select asp-for="EmpresaId" class ="form-control" asp-items="ViewBag.EmpresaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MotoristaId" class="control-label"></label>
                <input asp-for="MotoristaId" class="form-control" />
                <select asp-for="MotoristaId" class="form-control"  asp-items="ViewBag.MotoristaId"/>
                @*<span asp-validation-for="MotoristaId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medida" class="control-label"></label>
                <select asp-for="Medida" class="form-control"></select>
                <span asp-validation-for="Medida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataOrdemCarregamento" class="control-label"></label>
                <input asp-for="DataOrdemCarregamento" class="form-control" />
                <span asp-validation-for="DataOrdemCarregamento" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

